<%- include('../header') %>

<h1>Hot Questions</h1>
<p>Questions ranked by recent activity (views and answers).</p>

<div class="questions-list">
    <% if (questions.length === 0) { %>
        <p>No questions yet.</p>
    <% } %>
    <% questions.forEach(function(question) { %>
        <div class="question-item">
            <div class="question-title">
                <a href="/questions/<%= question._id %>"><%= question.title %></a>
            </div>
            <div class="meta">
                Posted by <a href="/users/<%= question.author._id %>"><%= question.author.username %></a> 
                on <%= question.createdAt.toDateString() %> | 
                <strong>Score: <%= question.hotness %></strong> (Views: <%= question.views %>, Answers: <%= question.answerCount %>)
            </div>
        </div>
    <% }); %>
</div>

<%- include('../footer') %>
