<%- include('../header') %>

<h1>Hot Questions</h1>
<p style="margin-bottom: 20px;">Questions ranked by recent activity (views and answers).</p>

<div class="questions-list">
    <% if (questions.length === 0) { %>
        <p>No questions yet.</p>
    <% } %>
    <% questions.forEach(function(question) { %>
        <div class="question-item">
            <div class="question-title">
                <a href="/questions/<%= question._id %>"><%= question.title %></a>
            </div>
            
            <div class="meta">
                Posted by <a href="/users/<%= question.author._id %>" class="user-badge"><%= question.author.username %></a> 
                • <%= timeAgo(question.createdAt) %> 
                • <%= question.answerCount %> ANSWERS
            </div>
            
            <span class="views-bottom"><%= question.views %> VIEWS</span>
            
            <div class="tooltip-text">
                <%= question.description.substring(0, 150) %><%= question.description.length > 150 ? '...' : '' %>
            </div>
        </div>
    <% }); %>
</div>

<%- include('../footer') %>
